* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */
.header {
    background-color: #5cb85c;
    color: cornsilk;
    text-align: center;
    padding: 5rem;
}

.header h1 {
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header p {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.5 rem;
}

.main {
    background-color:#C8F7C5 ;
    height: 100vh;
}
/* input section */
.inputs {
    padding: 8rem;
    text-align: center;
}
